.wrapper-login {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 135px);
  background-color: #F6F6F6;
  padding-bottom: 20px;
}

.submit-btn{
  background-color: #59b1eb;
  color: white;
}

.back-btn{
  background-color: black;
  a {
    color: white;

  }
}
