
.bt--facebook {
  background-color: #2d94bd;
  border: 2px solid #2d94bd;
  transition: all 0.5s ease;
  width: 100%;
  padding: 14px 30px 12px;
  a{
    color: white;
    text-decoration: none;
  }
}
.bt--facebook:hover {
  background-color: #fff;
  border-color: #59b1eb;
  a{
    color: #2d94bd;
  }

}
