.wrapper-coach {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
}


.coach-img {
  height: 100px;
  width: 100px;
}


.user-img-circle{
  border-radius: 50%;
  width: 80px;
}

.trainer-details {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
  padding-top: 0;
}


.coach-info {

  padding: 20px;

  p {
    color: #777777;
    font-size: 14px;
  }
}

.coach-about {
  h1{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 11px;
  }
  p {
    color: #777777;
    font-size: 14px;
    margin: 0 0 11px;
  }
}

.book-lesson {
  margin-left: 50px;
  h4 {
    font-size: 18px;
    margin-top: 6px;
  }
  form {
  background-color: white;
  padding: 15px;
  }
}

.dashboard {
  .coach-card {
    margin: 0;
    width: auto;
    position: relative;
  }
  .pending {
    background-color: #715AFF;
  }
  .accepted {
    background-color: #2FBF71;
  }
  .declined {
    background-color : #FF5964;
  }
  .coach-card-status {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 9px 10px;
    p {
      margin-bottom: 0;
      letter-spacing: 1.5px;
    }
  }
  .btn-accept{
    background-color: #2FBF71;
    border-color: #2FBF71;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .btn-accept:hover{
    background-color: #279D5D;
    border-color: #279D5D;
  }
  .btn-decline{
    background-color: #FF5964;
    border-color: #FF5964;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .btn-decline:hover{
    background-color: #D14952;
    border-color: #D14952;
  }
}
