.dashboard-card {
  margin-top: 15px;
  color: #2F323A;
  background-color: white;
  position: relative;
  height: 400px;
  width: 500px;
  border-radius: 4px;
  border: 0.5px solid rgba(167, 185, 221, 0.43);
  .card-time{
    position: absolute;
    left:7px;
    top:3px;
    margin: 0;
    font-size: 25px;
    color: #59b1eb;
    font-weight: bold;
  }
  .card-status{
    position: absolute;
    right:0px;
    top:0px;
    margin: 0;
    padding: 7px;
    font-size: 25px;
    border-top-right-radius: 4px;
    color: white;
  }
  .pending{
    background-color: #59b1eb;
  }
  .accepted{
    background-color: #07BEB8;
  }
  .declined{
    background-color: #E55934;
  }
  .card-banner{
    position: absolute;
    top:41px;
    margin: 0;
    height: 240px;
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .coach-pic{
    position: absolute;
    height:100px;
    border-radius: 50%;
    left: 15px;
    bottom: 10px;
  }
  .coach-name{
    position: absolute;
    left: 130px;
    bottom: -15px;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bold;
  }
  .card-info{
    position: absolute;
    right: 30px;
    bottom: -10px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(66, 72, 85, 0.67);
  }
}

<<<<<<< HEAD
=======
.wrapper-coach {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
}


.coach-img {
  height: 100px;
  width: 100px;
}


.user-img-circle{
  border-radius: 50%;
  width: 80px;
}

.trainer-details {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
  padding-top: 0;
}


.coach-info {

  padding: 20px;

  p {
    color: #777777;
    font-size: 14px;
  }
}

.coach-about {
  h1{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 11px;
  }
  p {
    color: #777777;
    font-size: 14px;
    margin: 0 0 11px;
  }
}

.book-lesson {
  margin-left: 50px;
  h4 {
    font-size: 18px;
    margin-top: 6px;
  }
  form {
  background-color: white;
  padding: 15px;
  }
}
>>>>>>> 233df39cbb4bab31d1e9ea1e3359145a47cf1912
