.button-signup {
  background-color: #25283D;
  border: 2px solid #25283D;
  color: #fff;
  line-height: 40px;
  width: 100%;
  transition: all 0.5s ease;
}
.button-signup:hover {
  background-color: #fff;
  border-color: #59b1eb;
  color: #59b1eb;
}
